    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-4">Gadget Galaxy Private Limited,
                    Buildings Alyssa, Clove Embassy Tech Village,
                    </p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Outer Ring Road, Devalli Village,Bengaluru, 560103,
                    Karnataka, India</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>gadgetgalaxy@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+91 9567049403</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="/shop"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="/mobile"><i class="fa fa-angle-right mr-2"></i>Mobiles</a>
                            <a class="text-secondary mb-2" href="/laptop"><i class="fa fa-angle-right mr-2"></i>Laptops</a>
                            
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <% if(locals.user){ %>
                            <a class="text-secondary mb-2" href="/profile"><i class="fa fa-angle-right mr-2"></i>Your Profile</a>
                            <a class="text-secondary mb-2" href="/cart"><i class="fa fa-angle-right mr-2"></i>Your Cart</a>
                            <a class="text-secondary mb-2" href="/orders"><i class="fa fa-angle-right mr-2"></i>Your Orders</a>
                            <a class="text-secondary mb-2" href="/wishlist"><i class="fa fa-angle-right mr-2"></i>Your Wishlist</a>
                            <% }else{ %>
                            <a class="text-secondary mb-2" href="/signin"><i class="fa fa-angle-right mr-2"></i>Log In</a>
                            <a class="text-secondary" href="/signup"><i class="fa fa-angle-right mr-2"></i>Sign Up</a>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="https://twitter.com/i/flow/login"  target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="https://www.facebook.com/sibin.silu" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="https://www.linkedin.com/in/sibin-silu-375938257"  target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="https://instagram.com/__sibin?igshid=ZDc4ODBmNjlmNQ==" target="_blank"><i class="fab fa-instagram"></i></a>
                            <!-- <a class="btn btn-primary btn-square" href="https://github.com/sibin12" target="_blank"><i class="fab fa-github"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">2023 - gadgetgalaxy.com</a>. All Rights Reserved.
            
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="/img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>