<!-- <h1><%#= message %></h1> -->
<!-- <h2><%#= error.status %></h2> -->
<!-- <pre><%#= error.stack %></pre> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Error - Page Not Found</title>
  <style>
    body {
      background-color: #fff;
      font-family: Arial, sans-serif;
      text-align: center;
    }
    
    h1 {
      font-size: 48px;
      margin-top: 5px;
    }
    
    p {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    .emoji {
       
      display: inline-block;
      width: 100px;
  
    }
  </style>
</head>

<body>
  <h1>Oops!</h1>
  <p>The page you are looking for cannot be found.</p>
  <img style="height: 300px;" src="/images/404.gif">
  <p>Don't worry, we're working on it!</p>
  <p><a href="/" class="btn btn-primary">Go to Home</a></p>
</body>

</html>


  <!-- <img style="height: 300px;" src="https://cdn.dribbble.com/users/2703713/screenshots/8408984/media/b7879109a3e889396451c4cd7555804b.gif"> -->
